# Airflow
AIRFLOW_UID=50000
AIRFLOW__WEBSERVER__SECRET_KEY=change_me_to_a_long_random_string

# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
